BITTREX_API_KEY = "xxxxxxxxxx"
BITTREX_API_SECRECT = "xxxxxxxxxx"
CRYPTOPIA_API_KEY = "xxxxxxxxxx"
CRYPTOPIA_API_SECRET = "xxxxxxxxxx"
KRAKEN_API_KEY = "xxxxxxxxxx"
KRAKEN_API_SECRET = "xxxxxxxxxx"
KRAKEN_BETA_FLAG = false
COINBASE_API_KEY = "xxxxxxxxxx"
COINBASE_API_SECRET = "xxxxxxxxxx"
BINANCE_API_KEY = "xxxxxxxxxx"
BINANCE_API_SECRET = "xxxxxxxxxx"
